.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    
}
.text{
    position: relative;
    text-align: center;
    font-style: italic;
}

.container{
    height: 30%;
}